.navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(100, 100, 200, 0.5);
	height: 90px;
	padding: 10px 10px;
}

.navbar a {
	color: white;
	font-weight: bold;
}

.navbar ul {
	display: flex;
	margin: 0px;
}

.navbar li {
	padding: 10px;
	list-style: none;
}
